
@{
    ViewBag.Title = "سایت موسیقی";
}

<div id="page-wrapper">
    <div class="inner-content">
        <div class="music-left">
            @Html.Action("SiteSliders")

            @Html.Action("LatestSongsHeader")

            @Html.Action("Favorites")

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>


@section Footerslider
{
    @Html.Action("FooterSlider", "Home")
}
